.cellBox {
    width: 100%;
    min-height: 100px;
    background: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    .phoneBar {
        height: 30px;
        width: 100%;
        display: flex;
        background: red;
    }
    .momentsBg {
        position: relative;
        width: 100%;
        height: 400px;
        .bgBox {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 1;
            display: flex;
            align-items: flex-end;
            img {
                max-width: 100%;
            }
        }
        .bgTop {
            height: 60px;
            position: relative;
            z-index: 2;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            margin: 0 auto;
            .back {
                margin-left: -10px;
            }
            .back,.camera {
                width: 40px;
                height: 40px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .userInfo {
            position: absolute;
            z-index: 2;
            right: 20px;
            bottom: -15px;
            width: 220px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .headPic {
                width: 80px;
                height: 80px;
                background: peru;
                margin-left: 15px;
                border-radius: 4px;
                overflow: hidden;
                img {
                    max-width: 100%;
                }
            }
            .name {
                color: #fff;
                font-weight: 400;
            }
        }
    }

    .newDynamic {
        box-sizing: border-box;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        padding: 15px;
        margin: 60px 10px 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #18191A;
        .newDynamicHeadPid {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    .dynamicList {
        box-sizing: border-box;
        padding: 15px;
        border-bottom: 1px solid #ededed;
        .content {
            width: 100%;
            margin-bottom: 15px;
            display: flex;
            .userHeadPic {
                width: 60px;
                height: 60px;
                overflow: hidden;
                border-radius: 4px;
                margin-right: 10px;
                img {
                    max-width: 100%;
                }
            }
            .userContent {
                flex: 1;
                .userName {
                    font-weight: 500;
                    color: #5D6A8C;
                    font-size: 16px;
                }

                .userText {
                    color: #18191A;
                    font-size: 14px;
                    line-height: 1.5;
                    margin: 3px 0;
                    margin-bottom: 10px;
                }
                .userPic {
                    // margin-bottom: 10px;
                }
                .onePic {
                    img {
                        max-width: 65%;
                    }
                }
                .morePic {
                    display: grid;
                    grid-template-columns: 150px 150px 140px;
                    max-width: 72%;
                    img {
                        width: 140px;
                        height: 140px;
                        margin-bottom: 10px;
                    }
                }


                .site {
                    color: #616C83;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                .time {
                    color: #7E7F80;
                    font-size: 13px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .timeIcon {
                        position: relative;
                        display: inline-block;
                        width: 34px;
                        height: 20px;
                        background: #F7F8F9;
                        border-radius: 4px;
                        &::after,
                        &::before{
                            position: absolute;
                            content: '';
                            width: 5px;
                            height: 5px;
                            background: #5A6A92;
                            border-radius: 50%;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &::after {
                            left: 9px;
                        }
                        &::before {
                            right: 9px;
                        }
                    }
                }
                .zanCommitBox {
                    box-sizing: border-box;
                    background: #F7F7F7;
                    border-radius: 3px;
                    margin-top: 15px;
                    .zanBox {
                        padding: 5px 10px;
                        color: #5B6A91;
                        display: flex;
                        flex-wrap: wrap;
                        .zanIcon {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background: url(../assets/image/icon/like.png) no-repeat center;
                            background-size: 20px 20px;
                        }
                        .zanName {
                            font-size: 14px;
                            &:last-child {
                                .zanMark {
                                    display: none;
                                }
                            }
                        }
                    }
                    .commitBox {
                        padding: 5px 10px;
                        font-size: 14px;
                        border-top: 1px solid #ededed;
                        .commitList {
                            padding: 3px 0;
                            .commitName {
                                color: #5B6A91;
                                margin-right: 2px;
                            }
                            .commitText {
                                color: #303030;
                                font-size: 13px;
                            }
                        }
                    }
                }

            }
        }
        
    }
}

.dialog{
    img {
        max-width: 100%;
    }
}